/* styles.css */

/* Basic reset to remove default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Style for the body */
body {
    font-family: Arial, sans-serif;  
    font-size: 12pt;                 
    background-color: #e0f7fa;       
    color: #333366;                  
    margin: 15pt;                    
}



/* Style for headings */
h1, h2, h3 {
    color: #2c3e50;                 /* Sets a different color for headings */
    margin-bottom: 15px;            /* Adds space below each heading */
}

/* Style for links */
a {
    color: #3498db;                 /* Sets link color */
    text-decoration: none;          /* Removes underline from links */
}

a:hover {
    text-decoration: underline;     /* Underlines links when hovered */
}

/* Style for paragraphs */
p {
    margin-bottom: 15px;            /* Adds space below each paragraph */
}

